body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fce4ec;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff80ab;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff4081;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #ff4081;
}

#bouquet {
    margin-top: 50px;
    opacity: 1;
    font-size: 16px;
    line-height: 1.2;
    color: #4caf50;
}
